# API Url
API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3000

# Database
DATABASE_URL=postgres://codevn_user:codevn_password@localhost:5432/codevn

# Redis
REDIS_URL=redis://localhost:6379

# Google Credentials
GOOGLE_CLIENT_ID=your-google-oauth-client-id
GOOGLE_CLIENT_SECRET=your-google-oauth-client-secret
